@import './vendor/normalize'

$bgndTestColor = AliceBlue

body
	background-color $bgndTestColor
	background-image url('../images/ubuntu-512.png') 
	background-position center center 
	background-repeat no-repeat
	height 100%
	min-height 100%
	
h1
	color blue
	text-align center
	
h2
	color magenta
	text-align center
	
h3
	color AliceBlue
	text-align center
	
h4
	color lime
	text-align center
