@import './vendor/normalize'

body
	background-color red
	
h1
	color blue
	text-align center
	
h2
	color magenta
	text-align center
	
h3
	color AliceBlue
	text-align center
	
h4
	color lime
	text-align center

