include includes/header

doctype html
html.no-js(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title Example Page 1
		meta(name="description" content="TODO")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div.example-body-wrapper
			+header('Page 01 Header')